
@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";


.fs-1{
    font-family: Arial, Helvetica, sans-serif;
}

.form-control:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}